@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700");
* {
  font-family: Montserrat;
  box-sizing: border-box; }

body {
  margin: 0;
  font-size: 62.5%; }

.main-nav {
  background: #fff;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 10%; }
  .main-nav ol {
    list-style-type: none;
    margin: 0;
    padding: 0; }
    .main-nav ol li {
      text-transform: uppercase;
      display: inline-block;
      padding: 10px 0;
      margin: 0 10px;
      position: relative;
      text-align: center;
      font-size: 1.1em;
      font-weight: 600; }
      .main-nav ol li:after {
        content: '';
        display: block;
        position: absolute;
        width: 0;
        height: 2px;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        background: #F84F4F; }
      .main-nav ol li:hover:after {
        animation: hover-line-anim .5s forwards alternate; }
    .main-nav ol a {
      color: #444; }

.main-nav-mobile {
  background: #fff;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  position: relative;
  z-index: 2;
  justify-content: space-between;
  align-items: center;
  padding: 12px 10%;
  display: none; }
  .main-nav-mobile .logo img {
    width: 80%; }

.control-panel {
  background: #34495E;
  padding: 40px 10%;
  display: flex;
  justify-content: space-between; }

.convert-from-section {
  width: 100%; }
  .convert-from-section h2 {
    margin: 0 0 14px;
    padding-left: 10px;
    border-left: 2px solid #fff;
    color: #fff;
    font-size: 1.2em;
    font-weight: 400;
    text-transform: uppercase; }
  .convert-from-section input, .convert-from-section .open-list-button {
    padding: 10px 20px;
    opacity: .9;
    outline: none;
    font-size: 2.2em;
    font-weight: 700;
    color: #34495E;
    border: none; }
  .convert-from-section input {
    background: #fff; }
  .convert-from-section:after {
    content: '';
    clear: both; }

.value-input {
  width: 59.5%; }

.currency-id-input {
  width: 20%; }

.open-list-button {
  background: #F84F4F;
  width: 19.5%;
  display: inline-block;
  text-align: center; }
  .open-list-button .fa {
    color: #fff; }
  .open-list-button:after {
    content: '';
    clear: both; }

form {
  position: relative;
  display: flex;
  justify-content: space-between; }

.currency-list {
  position: absolute;
  width: 100%;
  background: #efefef;
  top: 100%;
  margin-top: 4px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
  display: none;
  border-bottom: 4px solid #F84F4F;
  padding: 4px; }
  .currency-list ol {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style-type: none; }
    .currency-list ol li {
      display: inline-block;
      width: 15%;
      padding: 16px 0;
      background: #fff;
      margin: 4px 0;
      color: #F84F4F;
      box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
      font-size: 1.2em;
      font-weight: 600;
      text-align: center;
      border-left: 4px solid #34495E;
      transition-duration: .4s; }
      .currency-list ol li:hover {
        color: #fff;
        background: #F84F4F; }

.base-currency-preview {
  margin: 14px 0;
  border: 1px solid #c9c9c9;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
  text-align: right; }

.base-value {
  color: #34495E;
  padding: 24px; }

.base-currency-amount {
  font-size: 4.4em; }

.base-currency-id {
  font-size: 3em; }

.base-currency-country {
  padding: 12px 24px;
  font-size: 1.2em;
  background: #efefef;
  border-top: 1px solid #c9c9c9;
  color: #a7a7a7; }

.sort-panel {
  color: #888;
  font-size: 1.8em; }
  .sort-panel button {
    background: #a7a7a7;
    border: none;
    padding: 10px 14px;
    color: #efefef;
    font-size: .9em;
    text-transform: uppercase;
    transition-duration: .4s; }
    .sort-panel button:hover {
      opacity: .8; }
    .sort-panel button.button-up {
      background: #34495E; }
    .sort-panel button.button-down {
      background: #F84F4F; }
  .sort-panel > span {
    text-transform: uppercase;
    margin-left: -4px;
    font-size: .9em;
    font-weight: 600; }

.mix-tiles-handler {
  display: flex; }
  .mix-tiles-handler .wrapper {
    margin-left: 4px;
    margin-top: 4px; }

.sort-property {
  background: #fff;
  padding: 8px 14px;
  width: 240px;
  display: inline-block;
  font-size: .9em;
  color: #34495E;
  border: 2px solid #34495E; }

body > .wrapper {
  width: 80%;
  margin: 0 auto; }
  body > .wrapper:after {
    clear: both; }

.currency-tiles {
  width: 100%;
  float: left;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 40px; }

.currency-tile {
  width: 33%;
  background: #efefef;
  color: #c9c9c9;
  border-bottom: 4px solid #34495E;
  margin-top: 14px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4); }

.tile-header {
  color: #34495E;
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.3em;
  background: #34495E;
  color: #fff; }

.cur-name {
  background: rgba(255, 255, 255, 0.2);
  padding: 4px 14px; }

.cur-country {
  font-weight: 600;
  text-transform: uppercase; }

.cur-exchange-value {
  background: #fff;
  border-left: 1px solid #efefef;
  border-right: 1px solid #efefef;
  text-align: right;
  padding: 14px 6px;
  color: #34495E;
  font-size: 3em; }

.cur-course {
  padding: 12px 8px;
  text-align: right;
  color: #34495E;
  font-size: 1.2em; }
  .cur-course .fa {
    color: green;
    font-size: 1.4em; }

@keyframes hover-line-anim {
  0% {
    width: 0%; }
  100% {
    width: 100%; } }
@media (max-width: 1024px) {
  .currency-tiles {
    margin-bottom: 0;
    clear: both;
    width: 100%; }

  .currency-tile {
    width: 49.5%; }

  .convert-from-section {
    width: 100%; }

  .sort-panel .wrapper {
    width: 50%;
    display: flex; }

  .sort-property {
    margin-right: 2px; } }
@media (max-width: 480px) {
  .currency-tiles {
    display: block; }

  .currency-tile {
    width: 100%; }

  .main-nav {
    display: none; }

  .main-nav-mobile {
    display: flex; }

  .mix-tiles-handler {
    display: block;
    margin-left: 0; }
    .mix-tiles-handler .wrapper {
      margin-left: 0; }

  .sort-panel .wrapper {
    width: 100%; } }

/*# sourceMappingURL=style.css.map */
