@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700');

$mainFont:Montserrat;
$mainColor:#34495E;
$ndColor:#F84F4F;

@mixin shadow($x,$y,$blur,$opacity) {
    box-shadow:$x+px $y+px $blur+px rgba(0,0,0,$opacity*0.1);
}

//main content selectors

* {
    font-family:$mainFont;
    box-sizing:border-box;
}

body {
    margin:0;
    font-size:62.5%;
}

.main-nav {
    background:#fff;
    @include shadow(2,2,4,4);
    position:relative;
    z-index:2;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:12px 10%;
    ol {
        list-style-type:none;
        margin:0;
        padding:0;

        li {
            text-transform:uppercase;
            display:inline-block;
            padding:10px 0;
            margin:0 10px;
            position:relative;
            text-align:center;
            font: {
                size:1.1em;
                weight:600;
            }

            &:after {
                content:'';
                display:block;
                position:absolute;
                width:0;
                height:2px;
                bottom:0;
                left:0;
                right:0;
                margin:auto;
                background:$ndColor;    
            }

            &:hover:after {
                animation:hover-line-anim .5s forwards alternate;
            } 
        }

        a {
            color:#444;
        }
    }
}

.main-nav-mobile {
    background:#fff;
    @include shadow(2,2,4,4);
    position:relative;
    z-index:2;
    justify-content:space-between;
    align-items:center;
    padding:12px 10%;
    display:none;

    .logo img {
        width:80%;
    }
}

.control-panel {
    background:$mainColor;
    padding:40px 10%;
    display:flex;
    justify-content:space-between;
}

.convert-from-section {
    width:100%;
    h2 {
        margin:0 0 14px;
        padding-left:10px;
        border-left:2px solid #fff;
        color:#fff;
        font: {
            size:1.2em;
            weight:400;
        }
        text-transform:uppercase;
    }
    
    input, .open-list-button {
        padding:10px 20px;
        opacity:.9;
        outline:none;
       
        font: {
            size:2.2em;
            weight:700;
        }

        color:$mainColor;
        border:none;
    }

    input {
        background:#fff;
    }

    &:after {
        content:'';
        clear:both;
    }
}

.value-input {
    width:59.5%;
}

.currency-id-input {
    width:20%;
}

.open-list-button {
    background:$ndColor;
    width:19.5%;
    display:inline-block;
    text-align:center;

    .fa {
        color:#fff;
    }

    &:after {
        content:'';
        clear:both;
    }
}

form {
    position:relative;
    display:flex;
    justify-content:space-between;
}

.currency-list {
    position:absolute;
    width:100%;
    background:#efefef;
    top:100%;
    margin-top:4px;
    @include shadow(1,1,2,4);
    display:none;
    border-bottom:4px solid $ndColor;
    padding:4px;

    ol {
        display:flex;
        justify-content:space-around;
        flex-wrap:wrap;
        margin:0;
        padding:0;
        list-style-type:none;

        li {
            display:inline-block;
            width:15%;
            padding:16px 0;
            background:#fff;
            margin:4px 0;
            color:$ndColor;
            @include shadow(1,1,2,4);
            font: {
                size:1.2em;
                weight:600;
            }
            text-align:center;
            border-left:4px solid $mainColor;
            transition-duration:.4s;

            &:hover {
                color:#fff;
                background:$ndColor;
            }
        }
    }
}

.base-currency-preview {
    margin:14px 0;
    border:1px solid #c9c9c9;
    @include shadow(1,1,2,4);
    text-align:right;
}

.base-value {
    color:$mainColor;
    padding:24px;
}

.base-currency-amount {
    font-size:4.4em;
}

.base-currency-id {
    font: {
        size:3em;
    }
}

.base-currency-country {
    padding:12px 24px;
    font-size:1.2em;
    background:#efefef;
    border-top:1px solid #c9c9c9;
    color:#a7a7a7;
}

.sort-panel {
    color:#888;
    font: {
        size:1.8em;
    }

    button {
        background:#a7a7a7;
        border:none;
        padding:10px 14px;
        color:#efefef;
        font-size:.9em;
        text-transform:uppercase;
        transition-duration:.4s;

        &:hover {
            opacity:.8;
        }

        &.button-up {
            background:$mainColor;
        }

        &.button-down {
            background:$ndColor;
        }
    }

    > span {
        text-transform:uppercase;
        margin-left:-4px;
        font: {
            size:.9em;
            weight:600;
        }
    }
}

.mix-tiles-handler {
    display:flex;

    .wrapper {
        margin-left:4px;
        margin-top:4px;
    }
}

.sort-property {
    background:#fff;
    padding:8px 14px;
    width:240px;
    display:inline-block;
    font-size:.9em;
    color:$mainColor;
    border:2px solid $mainColor;
}

body > .wrapper {
    width:80%;
    margin:0 auto;
    &:after {
        clear:both;
    }
}

.currency-tiles {
    width:100%;
    float:left;
    display:flex;
    justify-content:space-between;
    flex-wrap:wrap;
    margin-bottom:40px;
}

.currency-tile {
    width:33%;
    background:#efefef;
    color:#c9c9c9;
    border-bottom:4px solid $mainColor;
    margin-top:14px;
    @include shadow(1,1,2,4);
}

.tile-header {
    color:$mainColor;
    padding:12px;
    display:flex;
    align-items:center;
    justify-content:space-between;
    font: {
        size:1.3em;
    }
    background:$mainColor;
    color:#fff;
}

.cur-name {
    background:rgba(255,255,255,.2);
    padding:4px 14px;
}

.cur-country {
    font: {
        weight:600;
    }
    text-transform:uppercase;
}

.cur-exchange-value {
    background:#fff;
    border-left:1px solid #efefef;
    border-right:1px solid #efefef;
    text-align:right;
    padding:14px 6px;
    color:$mainColor;
    font: {
        size:3em;
    }
}

.cur-course {
    padding:12px 8px;
    text-align:right;
    color:$mainColor;
    font-size:1.2em;

    .fa {
        color:green;
        font: {
            size:1.4em;
        }
    }
}

//keyframes

@keyframes hover-line-anim {
    0% {
        width:0%;
    }
    100% {
        width:100%;
    }
}

//media queries

@media (max-width:1024px) {
    .currency-tiles {
        margin-bottom:0;
        clear: both;
        width:100%;
    }

    .currency-tile {
        width:49.5%;
    }

    .convert-from-section {
        width:100%;
    }

    .sort-panel .wrapper {
        width:50%;
        display:flex;
    }

    .sort-property {
        margin-right:2px;
    }
}

@media (max-width:480px) {
    .currency-tiles {
        display:block;
    }

    .currency-tile {
        width:100%;
    }

    .main-nav {
        display:none;
    }

    .main-nav-mobile {
        display:flex;
    }

    .mix-tiles-handler {
        display:block;
        margin-left:0;

        .wrapper {
            margin-left:0;
        }
    }

    .sort-panel .wrapper {
        width:100%;
    }
}